/* CSS Syntax */
/* selector {property: value;} */
/* who { what: how;} */

q
blockquote{
background: blue;
color: red
}

.date {
  color: red;
  font-family: Arial;
}

#testid{color: green}
#testtwo{color:blue}

.runway-button {
  background-color: #80c14f;
  letter-spacing: 2pt;
  text-transform: uppercase;
  color: blue;
}
